@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Lato:ital,wght@0,300;1,300&family=Lilita+One&family=Luckiest+Guy&family=Mohave&family=Poppins:wght@400;800&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;1,8..144,200&family=Sunflower:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.table-content{
    text-align: center;
    padding: 20px;
    margin-top: 70px;
}
.table-content h1, h4{
  font-family: Poppins;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: Poppins;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    clip: rect(1px 1px 1px 1px);
    padding: 0;
    border: 0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th{
  font-size: 20px;
    background-color: #A81E1E;
    border: 1px solid #CFCFCF;
    font-weight: normal;
    text-align: center;
    color: white;    
    cursor: pointer;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
  .styled-table select{
    cursor: pointer;
    border-radius: 6px;
    height: 2rem;
  }
  .styled-table select option{
    font-size: 15px;
  }
  .styled-table input{
    cursor: pointer;
    border-radius: 6px;
    color: #fff;
    margin: 5px;
    padding: 10px;
    background-color: #B22623;
    border: none;
    transition: 0.4s;
  }
  .styled-table input:hover{
    opacity: 0.6;
  }
  .styled-table input:active{
    transform: translateY(4px);
  }
  .highlight-text{
    color: rgba(38,137,13,1);
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }