/*loader*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--primary-color);
}
.loader {
    background-color: rgba(255,255,255,0.1);
    z-index: 5;
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: opacity 0.75s, visibility 0.75s;
  }
  .loader-hidden{
    display: none;
    opacity: 0;
    visibility: 0;
  }
  .loader div {
    margin:0;
    padding:0;
    top:47%;
    left:47%;
    align-items: center;
    box-sizing: border-box;
    display: block;
    position: fixed;
    width: 64px;
    height: 64px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ff726f transparent transparent transparent;
  }
  .loader div:nth-child(1) {
  animation-delay: -0.45s;
  }
  .loader div:nth-child(2) {
  animation-delay: -0.3s;
  }
  .loader div:nth-child(3) {
  animation-delay: -0.15s;
  }
  @keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  }
.main-container{
    font-family: 'Poppins', sans-serif;
    margin-top: 70px;
    height: 100vh;
}
.col-1{
    width: 100%;
    height: 210px;
    position: relative;
    scroll-behavior: smooth;
}
.header-container {
    margin: 50px 5px;
    background-color: var(--primary-color);
    position: sticky;
    top: 75px;
    width: 15%;
    height: 50vh;
}
.header-container input{
    margin-bottom: 5px;
    height: 20px;
    border-radius: 6px;
    border: 2px solid #AFAFAF;
    background: #FCFCFC;
    padding-left: 10px;
}
.col-1 .header h1{
    padding: 20px 20px;
    color: #AD2C89;
}
.col-1 .header input{
    background-color: #FCFCFC;
    border: 2px solid #AFAFAF;
    padding-left: 10px;
    height: 30px;
    border-radius: 10px;
}
.search-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.lower-search{
    font-size: 20px;
}
.upper-search button{
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    background-color: #A81E1E;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #D52121 inset, 0px 4px 4px 0px #DEC4C4;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.lower-search button{
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    background-color: #A81E1E;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #D52121 inset, 0px 4px 4px 0px #DEC4C4;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.lower-search label{
    margin-left: 20px;
    font-size: 1.5vw;
    color: #A81E1E;
}
.lower-search .flex-input{
    display: flex;
    justify-content: space-between;
}
.lower-search .flex-input input{
    width: 40%;
}

.sort-by-type button{
    cursor: pointer; 
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 5px;
    background: #A81E1E;
    box-shadow: 0px 4px 4px 0px #D52121 inset, 0px 4px 4px 0px #DEC4C4;
    margin-bottom: 2px;
    
}
.col-2-row{
    display: flex;
}
.col-2-content{
    margin-top: 10px;
}
.col-2-content .description{
    background-color: #FFFFFF;
    padding: 20px;
    margin: 5%;
    border-radius: 11px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.preview{
    width: 350px;
    cursor: pointer;
    transition: 0.2s;
}
.preview:hover{
    opacity: 0.6;
}
.col-2-content .desc-col-1 h2{
    font-family: 'Sunflower', sans-serif;
    color: #8A240E;
}
.inline {
    display: inline;
}
.info-row{
    margin-right: 10px;
    margin: 5px 0;
    font-family: 'Mohave';
}
.info-row h3{
    font-size: 22px;
    font-weight: 700;
    margin-right: 5px;
}
.info-row p{
    font-size: 20px;
}
.col-2-content .description button{
    margin-left: 50%;
    margin-bottom: 5px;
    font-size: 10px;
    cursor: pointer;
    border: none;
    height: 4vh;
    width: 50%;
    background-color: #A81E1E;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #D72121 inset;
    box-shadow: 0px 4px 4px 0px #770B0B40;
}
.col-2-content .set-width{
    width: 100%;
}
.reminder{
    height: 40vh;
    font-size: 25px;
    border-radius: 10px;
    margin: 50px;
    width: 80%;
    background-color: #e1f1fd;
}
.reminder i{
    color: #FF0000;
    padding: 10px;
    font-size: 45px;
    position: absolute;
}
.reminder p{
    font-size: 18px;
    text-align: center;
    justify-content: center;
    padding: 50px 50px;
}
button{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.2s;
  }
  button:hover{
    opacity: 0.6;
  }
  button:active{
    transform: translateY(4px);
  }
.col-2-content-full{
    padding-bottom: 20px;
    width: 100%;
}
.col-2-content-full button{
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    height: 30px;
    width: 80px;
    background-color: #A81E1E;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #D72121 inset;
    box-shadow: 0px 4px 4px 0px #770B0B40;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  /**defined css*/
  .d-none{
    display: none;
  }
  input[type=text]:focus,
    input[type=tel]:focus,
    input[type=number]:focus,
    input[type=date]:focus,
    input[type=email]:focus,
    select:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
    }
@media only screen and (max-width: 880px) {
    .col-2-content-full{
        display: none;
    }
    .col-2-content{
        flex: 1;
    }
    .lower-search label{
        display: none;
    }
  }