*{
    margin-left: 20%;
}
html {
  scroll-behavior: smooth;
}
.card2
{


    background-color: red;
    margin-left: 20%;
}

.card3
{
    background-color: white;
    padding-left: 3%;
    
}

.card3 h1
{
    font-size: 50px;
    color: black;
    text-align: left;
}

.card4
{
    width: 90%;
    padding:  3%;
    background-color: white;
    border: solid 5px #76165B;
    float: left;
    
}

.card4 h2
{
    font-size: 30px;
    color: #76165B;
    text-align: left;
}

.card4 h3
{
    font-size: 25px;
    color: black;
    text-align: left;
    padding-left: 3%;
}

.apply {
    background-color: #76165B;
    color: #ffffff;
    border-radius: 10px;
    border: #76165B;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    float: right;
    width: 20%;
    text-decoration: none;
  }
  
  button:hover {
    opacity: 0.8;
  }