@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;1,8..144,200&display=swap');
/* SIDENAV */
*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Serif', serif;
}
.topside-container{
  display: flex;
}
.sidenav {
  margin-top: 70px;
    height: 100vh;
    width: 15%;
    background-color: #76165B;
    overflow-x: hidden;
    position: fixed;
  }
.sidenav .profile_img{ 
    padding: 5px 5px;
    height: 12vh;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    border-bottom: 6px solid #fff;
  }
  .sidenav .profile_img img{
    width:100%;
  }
  .sidenav a {
    font-size: 1.5vw;
    color: white;
    display: block;
    background-color: transparent;
    text-decoration: none;
    padding: 15px 30px;
  }
.sidenav .col-side{
  margin-top: 30px;
}
  .noHover {
    pointer-events: none;
  }

  .sidenav a:hover {
    background-color: #5E1148;
  }

  .sidenav a.active {
    background-color: #5E1148;
  }
@media only screen and (max-width: 900px) {
  .sidenav .col-side a {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .sidenav .col-side a i {
    font-size: 24px;
  }
}


