body{
    width: 100%;
    height: 100vh;
    background-color: red;
}
.main-container{
    width: 100%;
    background-color: blue;
   
}
.content-title{

    background-color: blue;
    margin: 5%;
    display: flex;
    justify-content: space-between;
}




