@import url('https://fonts.googleapis.com/css2?family=Mohave&family=Rowdies&display=swap');
:root{
    padding: 20px;
    margin-top: 70px;
}
.company-container{
    font-family: 'Mohave';
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.status{
    margin: 20px 0;
}
.status-table{
    width: 100%;
    margin-top: 40px;
}