*{
    margin: 0;
    padding: 0;
}
.main-container{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form-step{
    width: 50%;
    padding: 25px 20px;
    border-radius: 11px;
    border: 2px solid #C59287;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.form-step label{
    font-family: 'Mohave', sans-serif;
    color: #B22623;
}
.form-step h1{
    font-size: 30px;
}
.form-step h2{
    font-family: 'Mohave';
    color: #B22623;
    margin-left: 10%;
    text-align: left;
}

.form-step h4
{
    color: #97402D;

}
.form-col-1{
    margin-top: 5px;
}
.form-col-2{
    display: flex;
}
.form-col-2 .flex-button{
    flex: 1;
}
.field-space{
    margin-left: 35%;
}
input[type="text"],input[type="number"], select, textarea{
    font-family: 'Mohave', sans-serif;
    padding-left: 10px;
    width: 90%;
    height: 30px;
    border-radius: 11px;
    border-radius: 10px;
    border: 2px solid #C59287;
}
::placeholder{
    font-weight: 500;
    color: #C59287;
}
  select:invalid{
  color: gray;
}
select option{
    color: #000;
}
select{
    width: 17%;
}
.double-col{
    display: flex;
    justify-content: space-between;
}
.double-col input{
   margin: 0 4%;
}
.form-step button{
    background-color: #A81E1E;
    box-shadow: 0px 4px 4px 0px #D72121 inset;
    filter: drop-shadow(0px 4px 4px rgba(119, 11, 11, 0.25));
    margin-top: 20px;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
    border: none;
}
button{
    cursor: pointer;
    transition: 0.4s;
  }
  .button:hover{
    opacity: 0.6;
}
.button:active{
    transform: translateY(4px);
}
.d-none{
    display: none;
}
.form-step .description-box{
    padding: 10px;
    height: 40vh;
    border: solid 2px #C59287;
    border-radius: 10px;
}
.question-container input{
    width: 70%;
}


.next
{
    background-color: #A81E1E;
    box-shadow: 0px 4px 4px 0px #D72121 inset;
    filter: drop-shadow(0px 4px 4px rgba(119, 11, 11, 0.25));
    margin-top: 20px;
    border-radius: 25%;
    padding: 10px 20px;
    color: white;
    border: none;
}
input[type=text]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=email]:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
}
input[type="text"]:not(:placeholder-shown),
input[type=tel]:not(:placeholder-shown),
input[type=number]:not(:placeholder-shown),
input[type=date]:valid,
input[type=email]:not(:placeholder-shown),
select:valid{
    background-color: #a6f7ff;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media only screen and (max-width: 880px) and (max-height: 1000px){
    .field-space{
        margin-left: 0;
    }
    .form-step{
        width: 80%;
        overflow-y: auto;
    }
    .wrapper{
        height: 120%;
    }
  }