@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');
@import url('https://fonts.googleapis.com/css?family=Racing Sans One');

body
{
    margin: 0;
    
}

.main
{
    background: white;
    height: fit-content;
}


.topnav{
    display: flex;
    position: relative;
    height: 70px;
    background-color: #A81E1E;;
    width: 100%;
    position: fixed;
    z-index: 5;

  }
  .topnav .peso-logo{
    margin: 10px;
    background-image: url(../img/ojssw.png);
    background-size: 90%;
    background-repeat: no-repeat;
    width: 20%;
    height: 100px;
    cursor: pointer;
  }
  .topnav .right-corner{
    
    position: absolute;
    right: 3%;
    
  }

.login
{
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background-color: #700101;
    padding: 10px 30px;
    margin: 15px 10px;
    border: none;
    border-radius: 5px;
}
.signup
{
    color: #700101;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background-color: #FFF;
    padding: 10px 30px;
    margin: 15px 10px;
    border: none;
    border-radius: 5px;
}
button{
    cursor: pointer;
    transition: 0.4s;
  }
  button:hover{
    transform: scale(1.1) perspective(1px);
  }
  button:active{
    opacity: 0.6;
  }
.row-1
{
    height: fit-content;
    background-image: linear-gradient(180deg, #A81E1E 37.65%, rgba(168, 30, 30, 0.00) 99.99%);
    padding-bottom: 30vh;

}

.row-1 h1
{
    color: #FFF;
    text-align: center;
    font-family: Racing Sans One;
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 800;
    line-height: 50%;
    letter-spacing: 3px;
}

.row-1 .col-1
{
    height: fit-content;
    background-color: transparent;
    width: 80%;
    padding-top: 25vh;
    display: flex;
    
}

.row-1 .col-1 .search-img
{
    background-image: url(../img/landingpage_search.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: right;
    height: 40vh;
    flex: 15%;
    margin-right: 5%;
    
    
   
    
    
}

.row-1 .col-1 .search-box
{
    background-color: transparent;
    height: fit-content;
    flex: 70%;
    padding-top: 5vh;
}

.search-box .search-engine-1{
    width: 35%;
}
.search-box .search-engine-2{
    width: 35%;
}
.search-box .search-engine-3{
    width: 15%;
}

.search-box .button-search
{
    
    border-radius: 10px;
    background: #700101;
    box-shadow: 0px 4px 4px 0px #8D2525 inset, 6px 4px 4px 0px rgba(54, 0, 0, 0.48);
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 5px 20px;
    border: none;
    margin-top: 3vh;
}

.row-1 .col-1 input
{
    
    padding-left: 10px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid #AFAFAF;
    background: #FCFCFC;
    margin: 5px;
}

.row-2
{
    height: fit-content;
    background-color: transparent;
    width: 90%;
    margin-bottom: 50px;
}

.row-2 h2
{
    color: #B40200;
    text-align: center;
    font-family: Poppins;
    font-size: 4.5vw;
    font-style: normal;
    font-weight: bolder;
    line-height: 50%;
}

.row-2 h3
{
    color: #B40200;
    font-family: Poppins;
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    padding-left: 5%;
}

.row-2 h4
{
    color: #B40200;
    text-align: center;
    font-family: Poppins;
    font-size: 3vw;
    font-style: normal;
    font-weight: bolder;
    line-height: 50%;
}

.row-2 .col-2
{
    height: fit-content;
    background-color: transparent;
    display: flex;
    margin-bottom: 20px;
}

.row-2 .col-2 .wordbox
{
    flex: 70%;
    height: fit-content;
    background-color: transparent;
}

.row-2 .col-2 .logo-img
{
    flex: 25%;
    height: fit-content;
    background-color: transparent;
    
    
}

.logo-img .peso-logo
{
    width: 70%;
    

}

.row-2 .col-3
{
    height: fit-content;
    background-color: transparent;
    
    width: 90%;
    text-align: center;
}

.row-2 .col-3 .button-box
{
    width: 90%;
    height: fit-content;
    background-color: transparent;
    display: flex;
    
}


 .learn-more
{

    
    width: 90%;
    border-radius: 14px;
    background: #FC0;
    box-shadow: 4px 6px 4px 0px #887218;
    color: #970B0A;
    text-align: center;
    text-shadow: 0px 1px 4px #FFF;
    font-family: Poppins;
    font-size: 2vw;
    font-style: normal;
    font-weight: 800;
    margin-left: 20px;
    border: none;
    height: 100px;
    
    
}


.row-3
{
    height: fit-content;
    width: 100%;
    background-color: #A81F1F;
    padding-top: 10px;
    padding-bottom: 200px;
    
}

.row-3 h5
{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 4vw;
    font-style: normal;
    font-weight: 800;
    line-height: 50%;
}

.row-3 .modal-box
{
    height: fit-content;
    background-color: transparent;
    width: 90%;
}

.modal-box .modal-button
{
    background-color: #DB400F;
    box-shadow: 4px 4px 4px 0px #FC6839 inset;
    filter: drop-shadow(5px 4px 4px #8B2100);
    width: 12vw;
    height: 12vw;
    border: none;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    font-family: Mohave;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 15px;
}

.modal-box .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: fit-content; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent;
    
  }
  
  
  /* Modal Content */

.modal .modal-content-box
{
    background-color: #FA6434;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 40%;
    height: fit-content;
    padding: 5px;
}
  .modal-box .modal .modal-content {
    background-color: transparent;
    
    border-radius: 13px;
    border: 2px dashed #6D1A00;
    height: fit-content;
    padding: 10px;
    
    
  }

.modal-content h1
{
    color: #FFF;
    font-family: Poppins;
    font-size: 1vw;
    font-style: normal;
    font-weight: 700;
    line-height: 50%;
    text-align: left;
}

.modal-content h2
{
    color: #FFF;
    font-family: Poppins;
    font-size: 1vw;
    font-style: normal;
    font-weight: 700;
    line-height: 50%;
    text-align: left;
}

.modal-content .event-location
{
    width: 50%;
    height: auto;
}

.modal-content .requirements
{
   
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background: #FBD953;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #461100;
    font-family: Poppins;
    font-size: 1vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
  
  /* The Close Button */
  .modal .close {
    color: #931111;
    float: right;
    margin: 5px 15px;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid #931111;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    
  }
  
  .modal .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


.row-4
{
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(181deg, #A81F1F 1.88%, rgba(107, 37, 87, 0.00) 97.46%);
    padding-top: 20px;
    margin-bottom: 25vh;
}

.row-4 h1
{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 3vw;
    font-style: normal;
    font-weight: 800;
    


}

.row-4 .wordbox
{
    width: 70%;
    height: 70vh;
    background-image: url(../img/landingpage_training.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.wordbox .button-training
{
    background-color: #A81F1F;
    box-shadow: 0px 4px 4px 0px #E94E4E inset;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 45vh;
    padding: 10px 30px;
    border-radius: 10px;
    
    
}


.row-5
{
    background-color: transparent;
    height: fit-content;
    width: 100%;
    margin-bottom: 20vh;
}

.row-5 .image-gallery
{
    width: 90%;
    background-color: transparent;
    height: fit-content;
}

.image-gallery .gallery
{
    width: 20%;
    height: auto;
    margin: 10px;
}

.row-5 .button-gallery
{
    border-radius: 11px;
    background: #A81F1F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(255, 85, 85, 0.25) inset;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    padding: 10px 50px;
    margin-top: 30px;
}


.footer
{
    background-color: #700101;
    width: 100%;
    height: 10vh;
}










  @media only screen and (max-width: 880px) {
    .topnav .peso-logo{
      margin: 10px;
      background-image: url(../img/peso.png);
      background-size: 50px;
      background-repeat: no-repeat;
      width: 20%;
      height: 60px;
    }

    .row-1
    {
        padding-bottom: 20vh;
    }

    .row-1 h1
    {
        font-size: 3vw;
    }
    .row-1 .col-1
    {
        padding-top: 15vh;
    }

    .row-1 .col-1 .search-img
    {
        height: 25vh;
    
    }

    .row-1 .col-1 .search-box
    {
        padding-top: 2vh;
        
    }

    .row-1 .col-1 input
    {
        height: 20px;
    }

    .search-box .button-search
    {
        margin-top: 1.5vh;
    }

   
  }

  @media only screen and (max-width: 500px) {
   .signup
   {
    display: none;
   }

   .row-1
    {
        padding-bottom: 10vh;
    }

   .row-1 .col-1
    {
        padding-top: 10vh;
    }
    .row-1 .col-1 input
    {
        height: 15px;
    }

    .row-1 .col-1 .search-img
    {
        height: 15vh;
    
    }

    .learn-more
    {
        height: 50px;
    }

    .row-4 .wordbox
    {
        height: 25vh;

    }

    .wordbox .button-training
    {
        margin-top: 15vh;
    }
   
  }