@import url('https://fonts.googleapis.com/css?family=Poppins');


body
{
    padding: 0;
    margin: 0;
    
}

.main
{
    background: white;
    height: 100vh;
    
}

.row-1
{
    width: 80%;
    height: 80vh;
    background-color: transparent;
    padding-top: 30vh;
    
}

.row-1 .col-1
{
    width: 95%;
    height: fit-content;
}
.row-1 .access
{
    border-radius: 8px;
    background: #B22623;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 2vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 20%;
    height: 130px;
    padding: 10px;
    text-align: center;
    border: none;
    margin: 10px;
}
button{
    cursor: pointer;
    transition: 0.4s;
}
button:hover{
    opacity: 0.6;
}