.cardA
{
    height: 250vh;
    width: 100%;
    background-color: white;
}

.cardB
{
    height: 200vh;
    width: 80%;
    background-color: white;
    margin-left: 20%;
    padding-top: 20vh;
}

.cardC
{
    width:80%;
    height: 150vh;
    background-color: white;
    
    
}


.card1
{
    width: 90%;
    height: fit-content;
    background-color: transparent;
   
}

.card2
{
    
    height: 50px;
    background-color: pink;
    margin-bottom: 10px;
    width: 100%;
}

.card3
{
    height: fit-content;
    background-color: white;
}

.card4
{
    width: 95%;
    height: 1700px;
    background-color: transparent;
    margin: 20px;
    border: solid 5px #7A0042;
}



.card5
{
    height: 900px;
    background-color: white;
    border: solid 5px black;
    margin-top: 20px;
    padding: 20px;
}

.card5 h1
{
    font-size: 30px;
    text-align: center;
}

.card5 h2
{
    font-size: 20px;
    text-align: center;
}

.card5 h3
{
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}


.wrapper{
    width: 95%;
    margin: 10px;
    background-color: pink;
    
}
table tr td:first-child{
    width: 50px;
}

table tr td:last-child{
    width: 100px;
}

.col1
{
    width: 50%;
    float: left;
    background-color: transparent;
    margin-bottom: 10px;
    padding-left: 20px;
}

.col2
{
    width: 50%;
    float: left;
    background-color: transparent;
    margin-bottom: 10px;
    padding-left: 20px;
}

.col3
{
    width: 100%;
    float: left;
    background-color: transparent;
    margin-bottom: 10px;
}

.col4
{
    width: 50%;
    float: left;
    background-color: transparent;
    margin-bottom: 10px;
    
}

.col5
{
    width: 50%;
    float: left;
    background-color: transparent;
    margin-bottom: 10px;
    padding-left: 20px;
}


input[type=text], input[type=password], input[type=number], input[type=email], input[type=date], select
{
    width: 100%;
    height: 30px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    border: solid 1.5px #76165B;
    box-shadow: 1px  1px 3px gray;
	padding-left: 10px;
}

::placeholder 
{
    padding-left: 3%;
    color: gray;
    font-size: 18px;   
}
