@import url('https://fonts.googleapis.com/css?family=Londrina Solid');
@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');


.card1
{
    width: 100%;
    height: fit-content;
    background-color: transparent;
   
}

.card2
{
    
    height: 50px;
    background-color: white;
    margin-bottom: 10px;
    width: 100%;
}

.card2 h2
{
    color: #9D1477;
font-family: Londrina Solid;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.add
{
    border-radius: 10px;
background: #9D1477;
box-shadow: 0px 4px 4px 0px rgba(186, 58, 150, 0.97) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: 30%;
padding: 5px;
border: none;
color: white;
}

.card3
{
    height: fit-content;
    background-color: white;

}

.card5
{
    width: 70%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #D5D5D5;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card5 h1
{
    font-size: 30px;
    text-align: center;
}

.card5 h2
{
    font-size: 20px;
    text-align: center;
}

.card5 h3
{
    color: #000;
    text-align: center;
    font-family: Mohave;
    font-size: 25px;
    font-style: normal;
    text-align: left;
    line-height: normal;

}

.wrapper{
    width: 95%;
    margin: 10px;
    background-color: transparent;
}

table
{
    border-radius: 20px;
}

table tr td:first-child{
    width: 50px;
}

table tr td:last-child{
    width: 100px;
}

table tr th
{
    color: #000;
    text-align: center;
    font-family: Londrina Solid;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}


