@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;1,8..144,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');
.sidenav{
  position: fixed;
  background-color: #B22623;
  width: 15%;
  height: 100vh;
}
.sidenav-content{
  text-align: center;
  display: block;
}
.sidenav-header{
  color: #fff;
  height: 100px;
}
.sidenav a{
  font-family: 'Mohave', serif;
  padding: 15px 0;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: block;
}
