@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Lato:ital,wght@0,300;1,300&family=Lilita+One&family=Londrina+Solid&family=Luckiest+Guy&family=Mohave&family=Poppins:wght@400;800&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;1,8..144,200&family=Sunflower:wght@700&display=swap');

body
{
    margin: 0;
}

.main-container{
    margin:0;
    width: 100%;
    padding-top: 100px;
    overflow-y: hidden;
    background-color: white;
    
}

.card
{
    border: solid 2px #CFCFCF;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    margin: 0px;
    
}

.card-header
{
    background-color: transparent;
    padding-top: 15px;
}

.card-header h4
{
    color: #B22623;
    font-size: 2vw;
    font-weight: bolder;
    font-family: Poppins;
    margin-left: 3%;
}

table
{
    text-align: center;
    font-family: Poppins;
    font-size: 1vw;


}

thead
{
    font-family: Poppins;
    font-size: 1vw;
    font-weight: bolder;
    color: black;
    border: solid 2px #CFCFCF;
}

tr
{
    border: solid 2px #CFCFCF;
    background-color: transparent;
}

th
{
    width: fit-content;
}

td
{
    background-color: white;
}

.form
{
    border: solid 5px pink;
 

}

.mt-4
{
    width: 100%;
}
