@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Lato:ital,wght@0,300;1,300&family=Luckiest+Guy&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;1,8..144,200&display=swap');
.topnav{
  display: flex;
  height: 70px;
  background-color: #B22623;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

 
}
.topnav .peso-logo{
  position: absolute;
  margin: 10px;
  background-image: url(../img/ojssw.png);
  background-size: 75%;
  background-repeat: no-repeat;
  width: 20%;
  height: 100px;
  cursor: pointer;
}
.topnav .right-corner{
  font-size: 30px;
  color: #fff;
  position: absolute;
  right: 0;
  padding: 15px 15px;
}
.notification-icon {
  position: relative;
  display: inline-block;
}

#bell-icon {
    position: relative;
    padding: 13px;
    font-size: 24px;
    border-radius: 100%;
    cursor: pointer;   
    transition: 0.2s;
}
.icon:hover{
    color: #B22623;
    background-color: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.icon.clicked {
    color: #B22623;
    background-color: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
#notification-dropdown {
  font-size: 15px;
  color: #000;
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  z-index: 1;
}
.notification-dropdown .col-1{
  justify-content: space-between;
  display: flex;
  height: 20px;
  border-bottom: 1px solid #999999;
}
.notification-dropdown .col-1 a{
  padding: 0 2px;
  text-decoration: none;
}
.notification-dropdown .col-2{
  color: #999999;
  padding: 20px 0;
  text-align: center;
}
.notification-dropdown .col-2 i{
  font-size: 30px;
}
.notification {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.notification:last-child {
  border-bottom: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

#person-icon {
    position: relative;
    padding: 13px;
    font-size: 24px;
    border-radius: 100%;
    cursor: pointer;   
    transition: 0.2s;
}

#person-dropdown {
  font-size: 15px;
  color: #000;
  display: none;
  position: absolute;
  top: 30px;
  right: -10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  z-index: 1;
}

#person-dropdown a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #000;
}
#person-dropdown a:hover {
  background-color: #999999;
}

@media only screen and (max-width: 880px) {
  .topnav .peso-logo{
    margin: 10px;
    background-image: url(../img/peso.png);
    background-size: 50px;
    background-repeat: no-repeat;
    width: 20%;
    height: 60px;
  }
}