@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Lato:ital,wght@0,300;1,300&family=Lilita+One&family=Londrina+Solid&family=Luckiest+Guy&family=Mohave&family=Poppins:wght@400;800&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;1,8..144,200&family=Sunflower:wght@700&display=swap');

body
{
    margin: 0;
}

.main-container{
    margin-top: 0;
    width: 100%;
    padding: 100px;
    overflow-y: hidden;
}

.card
{
    border: solid 2px #CFCFCF;
    border-radius: 10px;
    background-color: white;
}

.card-header
{
    background-color: transparent;
}

.card-header h4
{
    color: #B22623;
    font-size: 30px;
    font-weight: bolder;
    font-family: Mohave;
}
.add
{
    background-color: #A30965;
    font-size: 15px;
    font-family: Poppins;
    border: none;
    color: white;
    float: right;
    height: 40px;
    width: 15%;
    border-radius: 5px;
}

.form
{
    border: solid 5px pink;
 

}

.row-1
{
    width: 90%;
    height: 100px;
    background-color: wheat;
  
}

.row-2
{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: wheat;
}
.col-1
{
    width: 45%;
    background-color: aqua;
   
}

.col-2
{
    width: 45%;
    background-color: sandybrown;
}