
.choice-container
{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    margin: 20px;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: #B0D9FF;
    border-radius: 3px;  
}



.choice-card
{
    display: flex;
    width: 70%;
    height: 100px;
    background-color: transparent;
}

.question-card
{
    background-color: transparent;
    width: 90%;
    height: 300px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;

}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 05);
    transition: transform 150ms;
    transform: translateY(-0.1rem);
}



.choice-prefix {
    padding: 10px 20px;
    background-color: #6FA0CE;
    color: white;
    border-radius: 3px;
    font-size: 2.3vw;
    font-family: Rowdies;
}



.choice-text{
    padding: 10px;
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
    font-family: Rowdies;
}

.correct {
    background-color: #28a745;
}

.incorrect{
    background-color: #dc3545;
}

/* HUD */
#question{
    font-size: 1.8vw;
    color: #367CBD;
    font-family: Rowdies;


}
#question.animating {
  
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: type 4s steps(60, end);
}
  
  @keyframes type{ 
    from { width: 0; } 
  } 
#hud{
    display: flex;
    justify-content: justify;
    background-color: transparent;
    
}

.hud-container-1
{
    width: 75%;
    height: fit-content;
    background-color: transparent;
    float: left;
    margin-right: 5%;
}

.hud-container-2
{
    width: 20%;
    height: fit-content;
    background-color: transparent;
    float: left;

}

.hud-prefix {
    text-align: left;
    color: #367CBD;
    font-size: 2.5vw;
    font-family: Rowdies;
    font-weight: bold;
}

.hud-prefix-score {
    text-align: center;
    color: #367CBD;
    font-size: 2.5vw;
    font-family: Rowdies;
    font-weight: bold;
}



.hud-main-text{
    text-align: center;
    color: #367CBD;
    font-size: 5vw;
    font-family: Rowdies;
    font-weight: bold;
   margin:0;
}

#progressBar{
    width: 70%;
    height: 2.5rem;
    border: 0.3rem solid #54B452;
    margin-top: 1.5rem;
}

#progressBarFull{
    height: 2rem;
    background-color: #54B452;
    width: 0%;
    float:left;
    
}



/* Loader */

#loader{
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}