.game-container{
    text-align: center;
    align-items: center;
    margin: 20px;
    font-family: Rowdies;
}
.choice-container {
    display: flex;
    margin: 2rem;
    width: 23%;
    justify-content: center;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 05);
    transition: transform 150ms;
    transform: translateY(-0.1rem);
}
.choice-row{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}
.choice-prefix {
    display: flex;
    align-items: center;
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text {
    font-family: 'Rowdies';
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28a745;
}

.incorrect{
    background-color: #dc3545;
}

/* HUD */
#question{
    color: #367CBD;
    font-size: 17px;
}
#question.animating {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

}
  
  @keyframes type{ 
    from { width: 0; } 
  } 
#hud{
    color: #367CBD;
    display: flex;
    justify-content: space-around;
}

.hud-prefix{
    text-align: center;
    
}

.hud-main-text{
    text-align: center;
}
#progressText{
    font-size: 20px;
    text-align: left;
}
#progressBar{
    width: 50rem;
    height: 2rem;
    border: 0.3rem solid #54B452;
    margin-top: 1.5rem;
}

#progressBarFull{
    height: 100%;
    background-color: #54B452;
    width: 0%;
}

/* Loader */

#loader{
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}